<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    a{
        text-decoration: none;
    }
    button{
    display: initial;
    }
    i{
    display: none;
    }
    @media (max-width: 1080px) {
        button{
            display: none;
        }
        .a{
            display: none;
        }
        i{
        display: initial;
        font-size: 30px;
        }
    }
</style>
<body>
    <%if(nav){%>
    <nav class="w-full bg-white flex items-center justify-between h-24 top-0">
        <div class="w-1/4 h-3/4 p-2">
            <img class="w-full h-full object-contain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Pinterest_Logo.svg/1200px-Pinterest_Logo.svg.png" alt="">
        </div>
        <div class="w-1/4 h-full p-2 flex items-center justify-around">
            
            <a href="/profile"><i class="ri-user-shared-line"></i><button class=" bg-black p-2 text-lg text-white font-sans font-semibold rounded-full ">Profile</button></a>
            <a href="/logout"><i class="ri-shut-down-line"></i><button class="bg-red-600 p-2 text-lg text-white font-sans font-semibold rounded-full">Logout</button></a>
        </div>
    </nav>
    <%}%>
    