<%include ./partials/header.ejs%>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    }

    .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    }

    .card {
      background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    }

    .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    }

    .name {
    font-size: 24px;
    margin: 0;
    }

    .username {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
    }

    .tagline,
    .description {
    color: #555;
    margin: 10px 0;
    }

    .button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    }

    .button:active {
    background-color: rgba(4, 25, 25, 0.39);
    }

</style>
<div class="container">
  <div class="card bg-slate-200">
    <div class="profile-picture relative">
    <i id='edit' onclick="edit()" style="display: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); cursor:pointer" class="ri-edit-line bg-white absolute bottom-2 z-2 rounded-full w-6 h-6 right-10"></i>
      <img src="/images/upload/<%=user.pic%>" alt="Profile Picture">
    </div>
    <h2 class="name"><%= user.username%></h2>
    <h3 class="email"><%= user.email%></h3>
    <p class="tagline">Keep going.</p>
    <div class="flex gap-5 justify-center"> 
      <a href="#" class="button bg-red-500">Follow</a>
      <button onclick="post()" class="button post bg-blue-600">Like</button>
      <form hidden id='form' action="/post" method="post" enctype="multipart/form-data">
        <input type="file" name="img" id="inp">
      </form>
      <form hidden id='formEdit' action="/edit" method="post" enctype="multipart/form-data">
        <input type="file" name="img" id="inpEdit">
      </form>
    </div>
  </div>
</div>
<div class="post w-full h-min px-56 ">
  <div class="post-container flex flex-wrap gap-5">
      <%if(user.posts.length>0){%>
        <%user.posts.forEach(function(post){%>
        <div class="rounded-xl overflow-hidden w-72 h-min"><img class="w-min h-min" src="/images/upload/<%=post.postPic%>" alt="">
        </div>
        <%})%>
        <%}%>
      </div>
    </div>
<script>
  function post(){
    document.querySelector('#inp').click()
  }
  function edit(){
    document.querySelector('#inpEdit').click()
  }
  document.querySelector('#inp').addEventListener('change',function(){
    document.querySelector('#form').submit();
  })
  document.querySelector('#inpEdit').addEventListener('change',function(){
    document.querySelector('#formEdit').submit();
  })
  document.querySelector('.profile-picture').addEventListener('mousemove',function(){
    document.querySelector('#edit').style.display = 'initial';
  })
  document.querySelector('.profile-picture').addEventListener('mouseleave',function(){
    document.querySelector('#edit').style.display = 'none';
  })
</script>
<%include ./partials/footer.ejs%>